<plugin start="true">
	<uid>pt.uminho.ceb.biosystems.merlin.automatic.annotation</uid>
	<name>merlin-automatic-annotation</name>
	<version>4.0.3</version>
	
	<dependencies>
		<dependency uid="merlin"/>
	</dependencies>
	
	<extensions>
		<extension uid="aibench.core" name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.merlin_automatic_annotation.EnzymesAutomaticAnnotation">
			<operation-description name="automatic workflow"
				uid="operations.EnzymesAutomaticAnnotation.ID" />
		</extension>
		
				<extension uid="aibench.core" name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.merlin_automatic_annotation.EnzymesAutomaticAnnotationWorkspaceSelector">
			<operation-description name="automatic workflow"
				path="10@annotation/100@enzymes/" uid="operations.automaticWorkflowGUI.ID" />
		</extension>

		<extension uid="aibench.workbench" name="aibench.workbench.view">
			<icon-operation operation="operations.automaticWorkflowGUI.ID"
				icon="icons/Lifecycle/workflow.png" />
		</extension>
		
<!-- 		<extension uid="aibench.workbench" name="aibench.workbench.view">
			<gui-operation operation="operations.EnzymesAutomaticAnnotation.ID"
			class="pt.uminho.ceb.biosystems.merlin.merlin_automatic_annotation.EnzymesAutomaticAnnotationGUI" />
		</extension> -->
		
				<extension uid="aibench.workbench"
			name="aibench.workbench.view">

			<gui-operation operation="operations.automaticWorkflowGUI.ID"
				class="pt.uminho.ceb.biosystems.merlin.merlin_automatic_annotation.EnzymesAutomaticAnnotationBlastDatabaseSelector" />
		</extension>
	</extensions>
	
</plugin>
